<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Extension Configuration</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
  <link rel="stylesheet" href="../resources/css/font-awesome.min.css">
  <link rel="stylesheet" href="../resources/css/global.css">
  <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
</head>
<body>
  <div class="pure-form pure-form-aligned">
    <fieldset>
      <div class="pure-control-group">
        <label for="account_id">Twitter Account ID</label>
        <input id="account_id">
        <span class="pure-form-message-inline">This is a required field.</span>
      </div>
    </fieldset>
  </div>

  <script>
    window.extensionBridge.register({
      init: function(info) {
        document.getElementById('account_id').value = (info.settings && info.settings.account_id) || '';
      },

      getSettings: function() {
        return {
          account_id: document.getElementById('account_id').value || ''
        };
      },

      validate: function() {
        return true;
      }
    });
  </script>
</body>
</html>
