<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Send Purchase Pixel Action</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
  <link rel="stylesheet" href="../resources/css/font-awesome.min.css">
  <link rel="stylesheet" href="../resources/css/global.css">
  <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
  <script src="../resources/js/form.js"></script>
</head>
<body>

<div id="root"></div>
<script>
  Form.create({
    value: {
      title: 'Value',
      required: true
    },
    currency: {
      title: 'Currency',
      required: true
    },
    content_name: {
      title: 'Content Name'
    },
    content_type: {
      title: 'Content Type',
      required: true
    },
    num_items: {
      title: 'Number of items'
    },
    content_ids: {
      title: 'Content IDs',
      required: true,
      type: 'array'
    },
    order_id: {
      title: 'Order ID'
    }
  }, document.getElementById('root'));
</script>
</body>
</html>
